<div class="order-md-1">
    <h3>Member Details</h3>
    <form class="needs-validation" (ngSubmit)="onSubmit()" #memberForm="ngForm" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstname">Firstname</label>
                <input  type="text" class="form-control" id="firstname" name="firstname"
                        placeholder="Firstname" [(ngModel)]="member.firstname" 
                        #firstname="ngModel" required>
                <div class="invalid-feedback" *ngIf="firstname.dirty && firstname.invalid">
                    Valid firstname is required.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastname">Lastname</label>
                <input  type="text" class="form-control" id="lastname" name="lastname" 
                        [(ngModel)]="member.lastname" #lastname="ngModel"
                        placeholder="Lastname" required>
                <div class="invalid-feedback" *ngIf="lastname.dirty && lastname.hasError('required')">
                    Valid lastname is required.
                </div>
            </div>
        </div>
  
        <div class="mb-3">
            <label for="membershipType">Membership Type</label>
            <!--input  type="text" class="form-control" id="membershipType" name="membershipType"
                    [(ngModel)]="member.membershipType" type="number" #membershipType="ngModel"
                    placeholder="Username" required-->
            <select name="membershipType" id="membershipType" class="custom-select">
                <option [(ngModel)]="member.membershipType" #membershipType="ngModel">{{ member.membershipType }}</option>
                <option value="1">Normal</option>
                <option value="2">Elite</option>
            </select>
            <div class="invalid-feedback" style="width: 100%;">
                Membership Type is required.
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-danger btn-lg btn-block" (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary btn-lg btn-block" type="submit" value="Save" [disabled]="memberForm.invalid">Save</button>
    </form>
</div>
<!--form (ngSubmit)="onSubmit()" #memberForm="ngForm" novalidate>
    <table class="table">
        <tr>
            <td>
                <label for="firstname">Firstname:</label>
            </td>
            <td>
                <input id="firstname" name="firstname" [(ngModel)]="member.firstname" required #firstname="ngModel">
            </td>
            <span *ngIf="firstname.dirty && firstname.invalid">Value is required</span>
        </tr>
        <tr>
            <td>
                <label for="lastname">Lastname:</label>
            </td>
            <input id="lastname" name="lastname" [(ngModel)]="member.lastname" #lastname="ngModel">
            <span *ngIf="lastname.dirty && lastname.hasError('required')">Value is required</span>
        </tr>
        <tr>
            <td>
                <label for="membershipType">Membership Type:</label>
            </td>
            <td>
                <input id="membershipType" name="membershipType" [(ngModel)]="member.membershipType" type="number" required #membershipType="ngModel">
            </td>
            <span *ngIf="membershipType.dirty && membershipType.invalid">Value is required</span>
        </tr>
    </table>
    <input type="button" value="Cancel" (click)="onCancel()">
    <input type="submit" value="Save" [disabled]="memberForm.invalid">
</form-->
