<h3>List of Members</h3>
<div class="table-responsive">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Membershiptype</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of MyArray" (click)="onSelect(member)" (dblclick)="onEdit()" [class.table-warning]="member === selectedMember">
                <td>{{member.id}}</td>
                <td>{{member.firstname}}</td>
                <td>{{member.lastname}}</td>
                <td>{{member.membershipType}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary mr-md-2" (click)="onAdd()">Add</button>
    <button class="btn btn-primary mr-md-2" (click)="onEdit()" [disabled]="!selectedMember">Edit</button>
    <button class="btn btn-danger mr-md-2" (click)="onDelete()" [disabled]="!selectedMember">Delete</button>
</div>
